body {
  text-align: center;
  font-family: 'PT Sans', sans-serif !important;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.flex {
  display: flex;
  justify-content: center;
  margin: auto;
}